html, body {
  background-color: black; }

header, footer {
  opacity: 0; }

p, h1, h2, h3, h4, h5 {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

nav {
  display: inline-block; }

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

li {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  left: 0;
  position: relative; }

.bike {
  width: 100%;
  max-height: 150px; }

.container {
  overflow: hidden;
  position: relative; }

.content {
  margin: 5px 0px; }

.education {
  height: 0;
  width: 80%;
  float: right;
  display: inline-block;
  font-size: 1em;
  margin: 5px 0px 5px 5px;
  text-align: center;
  line-height: 25px;
  border-style: solid;
  transition: all 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  border-color: transparent transparent Cyan transparent;
  border-width: 0px 0px 25px 25px; }

.experience {
  height: 0;
  width: 80%;
  text-align: center;
  display: inline-block;
  float: right;
  line-height: 25px;
  border-style: solid;
  margin: 5px 0px 5px 5px;
  transition: all 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  border-color: transparent transparent Deepskyblue transparent;
  border-width: 0px 0px 25px 25px; }

.left {
  display: inline-block; }

.misc {
  color: white;
  max-height: 0;
  overflow: auto;
  transition: all 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.nav {
  color: black;
  background: linear-gradient(to bottom, #b4ddb4 0%, #00ff3b 28%, #00ff3b 31%, #00ff3b 66%, #58e52d 99%);
  height: 1.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 15px 0px 0px 0px;
  opacity: 1; }

.redirect {
  width: 100%;
  z-index: 1000;
  height: 150px;
  position: absolute; }

.resume {
  color: white;
  max-height: 0px;
  overflow: auto;
  transition: all 500ms ease; }
  .resume h3 {
    color: white;
    height: 36px;
    font-size: 1.5em;
    line-height: 1.5em;
    padding-left: 5px;
    background-color: #0080ff;
    margin: 5px auto;
    opacity: 1;
    display: inline-block;
    transition: all 900ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    width: 100%; }
  .resume a {
    text-decoration: none;
    color: Navy; }

.right {
  display: inline-block;
  float: right; }

.portfolio {
  color: white;
  max-height: 0;
  overflow: auto;
  transition: all 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.show {
  -webkit-box-shadow: 0px 0px 16px 2px #28fa41;
  -moz-box-shadow: 0px 0px 16px 2px #28fa41;
  box-shadow: 0px 0px 16px 2px #28fa41; }

.show-content {
  max-height: 900px; }

.show-hide {
  display: none; }

.skillLevel {
  background: linear-gradient(-90deg, #7300e6, White);
  height: 5px;
  margin: 5px 5px; }

.skillLevel2 {
  margin: 5px 5px; }

.technical li {
  margin: 5px 5px;
  background-color: #989898; }

.technical li a {
  display: block;
  padding: 5px;
  text-align: left; }

.level {
  background: linear-gradient(-90deg, #7300e6, White); }

/*# sourceMappingURL=style.css.map */
