* {
  font-family: Roboto, sans-serif; }

html, body {
  background-color: black; }

header, footer {
  opacity: 0; }

p, h1, h2, h3, h4, h5 {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

nav {
  display: inline-block; }

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

li {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  position: relative; }

.close-button {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
  border: 1px solid black;
  background-color: white;
  color: red;
  float: right;
  display: block;
  position: relative; }

.container {
  overflow: hidden;
  position: relative; }

.content {
  margin: 5px 0px; }

.content-container {
  transition: all 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  max-height: 550px;
  overflow: hidden; }

.education-content {
  border-color: transparent transparent Cyan transparent; }

.experience-content {
  border-color: transparent transparent Deepskyblue transparent; }

.left {
  display: inline-block; }

.misc {
  color: white;
  max-height: 0;
  overflow: auto;
  transition: all 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.nav {
  text-decoration: none;
  color: white; }

.redirect {
  z-index: 25;
  height: 150px;
  position: absolute; }

.resume {
  color: white;
  overflow: auto;
  transition: all 500ms ease; }
  .resume h3 {
    color: white;
    height: 36px;
    font-size: 1.5em;
    line-height: 1.5em;
    padding-left: 5px;
    background-color: #0080ff;
    margin: 5px auto;
    opacity: 1;
    transition: all 900ms cubic-bezier(0.17, 0.04, 0.03, 0.94); }
  .resume a {
    text-decoration: none;
    color: Navy; }

.right {
  display: inline-block;
  float: right; }

.portfolio {
  transition: all 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  display: flex;
  justify-content: center; }

.pop-up {
  transition: all .6s ease;
  width: 0px;
  height: 0px;
  background-color: blue;
  position: absolute; }

.pop-up-active {
  position: absolute;
  height: 70px;
  width: 150px;
  margin: 1em 0 3em;
  color: #000;
  background: #f3961c;
  border-radius: 10px;
  background: linear-gradient(top, #f9d835, #f3961c); }

/* creates triangle */
.pop-up-active:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent; }

.show {
  -webkit-box-shadow: 0px 0px 16px 2px #28fa41;
  -moz-box-shadow: 0px 0px 16px 2px #28fa41;
  box-shadow: 0px 0px 16px 2px #28fa41; }

.show-content {
  max-height: 900px; }

.show-subContent {
  max-height: 0;
  margin: 0px auto;
  opacity: 0;
  overflow: auto; }

.skillLevel {
  background: linear-gradient(-90deg, #7300e6, White);
  height: 5px;
  margin: 5px 5px; }

.skillLevel2 {
  margin: 5px 5px; }

.sub-content {
  width: 80%;
  height: 0;
  float: right;
  display: block;
  font-size: 1em;
  margin: 5px 0px 5px 5px;
  text-align: center;
  line-height: 25px;
  border-style: solid;
  transition: all 600ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  border-width: 0px 0px 25px 25px; }

.sub-content-desktop {
  display: none; }

.technical li {
  margin: 5px 5px;
  background-color: #989898; }

.technical li a {
  display: block;
  padding: 5px;
  text-align: left; }

.level {
  background: linear-gradient(-90deg, #7300e6, White); }

@media screen and (min-width: 500px) {
  .bike {
    height: 80px;
    width: auto; }

  .resume a {
    color: Dodgerblue; }
    .resume a:hover {
      color: purple; }

  .resume h3 {
    background-color: black;
    text-align: center; }

  .sub-content {
    width: 100%;
    height: auto;
    border: none; }

  .sub-content-desktop {
    display: inherit; } }

/*# sourceMappingURL=style.css.map */
